h1 {
  font-family: 'Dancing Script', cursive; 
  font-size: 10px;
  font-weight: heavy;
  line-height: 1.5
  letter-spacing: 2px
}
p {
    font-family: 'Tangerine', cursive;  
  font-size: 10px;
  font-weight: heavy;
  line-height: 1.5
  letter-spacing: 2px
}