h1 {
  font-family: Georgia; 
  font-size: 10px;
  font-weight: heavy;
  line-height: 1.5
  letter-spacing: 2px
}
p {
  font-family: 'Gill Sans';
  font-size: 10px;
  font-weight: heavy;
  line-height: 1.5
  letter-spacing: 2px
}
